html {
  font-family: Helvetica, sans-serif;
  text-align: left;
}

h1 {
  font-family: Times New Roman;
  background-image: url("../images/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.brush {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

.blue {
  font-weight: bold;
  color: blue;
}
